body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.book-display {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  border: none;
}

.book-card {
  border: 2px solid black;
  border-radius: 5px;
  text-align: start;
  font-size: 1.5rem;
  padding: 10px;
}

.toggle-btn {
  border-radius: 5px;
  border: none;
  background-color: green;
  color: white;
}

.remove-btn {
  border-radius: 5px;
  border: none;
  background-color: red;
  color: white;
}
